# Ignorer les dossiers
build/
install/
gscam2/
log/
ros2_shared/
realsense-ros/

# Ignorer tous les fichiers temporaires
*.tmp
*.log

# Ignorer les fichiers Python compilés
__pycache__/
*.pyc
